@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/*Cores*/
/*fontes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navContainer__left ul a, .navContainer__right ul a {
  display: inline-block;
  font-family: "Lato";
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

/*Navbar*/
.navBg {
  background-color: #5ca1b0;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navContainer {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.navContainer__left {
  width: 42.5%;
}
.navContainer__left ul {
  display: flex;
  justify-content: space-around;
}
.navContainer__left ul a:hover {
  color: #98764f;
}
.navContainer__right {
  width: 42.5%;
}
.navContainer__right ul {
  display: flex;
  justify-content: space-around;
}
.navContainer__right ul a:hover {
  color: #98764f;
}
.navContainer__center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(12% - 0.9259259259vh);
  height: calc(100% - 0.9259259259vh);
}
.navContainer__center img {
  max-width: 100%;
  max-height: 100%;
}

.toggle {
  display: none;
}

header {
  background-size: cover;
  background-image: url("../images/top.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
}

.headerContainer {
  display: block;
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}
.headerContainer__R, .headerContainer__C {
  display: block;
  color: #eae6e0;
  font-size: 51.8518518519vh;
  font-family: "Lato";
  font-weight: 400;
  position: absolute;
  bottom: calc(50% - 25.9259259259vh);
}
.headerContainer__C {
  opacity: 50%;
  position: absolute;
  bottom: calc(50% - 38.8888888889vh);
  left: 6.7708333333vw;
}
.headerContainer__line1 {
  display: inline-block;
  font-size: 8.8888888889vh;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 15px;
  text-transform: uppercase;
  color: #dde1e0;
  position: absolute;
  bottom: calc(50% - 12.962962963vh);
  left: 20.8333333333vw;
}
.headerContainer__line2 {
  font-size: 5.9259259259vh;
  color: #dde1e0;
  text-transform: uppercase;
  font-family: "Lato";
  position: absolute;
  right: 0;
  bottom: calc(50% - 18.8888888889vh);
}
.headerContainer__line2 span {
  letter-spacing: 60px;
  color: #55422c;
  opacity: 40%;
}

#sobreHotel {
  background-color: #eae6e0;
}

.containerSobre {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 10%;
}
.containerSobre__left {
  width: 42%;
  height: calc(100% + 4.63vh);
  z-index: 10;
  background-image: url("../images/pool.jpg");
  background-size: cover;
}
.containerSobre__right {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 60%;
  height: 40%;
}
.containerSobre__right__title {
  color: #b18f69;
  width: 100%;
  font-size: 4.44vh;
  font-family: "Lato";
  text-transform: uppercase;
  text-align: end;
}
.containerSobre__right__title span {
  color: #b18f69;
  font-size: 9.26vh;
  font-family: "Lato";
  text-transform: uppercase;
  text-align: end;
  letter-spacing: 2%;
  float: right;
  width: 100%;
}
.containerSobre__right__text {
  width: 100%;
  text-align: justify;
  color: #b18f69;
  padding-left: 15%;
  font-size: 1.78vh;
  margin-top: 6%;
  line-height: 2.22vh;
}
.containerSobre__right__text p {
  padding-bottom: 10px;
}
.containerSobre__right__text p::first-letter {
  font-size: 1.8rem;
}

#diferenciais {
  height: 100vh;
}

.containerDiferenciais {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.containerDiferenciais__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 7.4074074074vh;
  font-family: "Lato";
  color: #b18f69;
  letter-spacing: 15px;
  padding-bottom: 1.8518518519vh;
}
.containerDiferenciais__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d8caaf;
  border-bottom: 1px solid #d8caaf;
  padding: 4.6296296296vh 0;
  height: 64.9074074074vh;
  width: 80.0166666667vw;
}
.containerDiferenciais__box__card {
  width: 30%;
}
.containerDiferenciais__box__card .cardImg {
  display: flex;
  justify-content: center;
}
.containerDiferenciais__box__card .cardImg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.containerDiferenciais__box__card .cardText {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-size: 1.8518518519vh;
  color: #d8caaf;
  letter-spacing: 2px;
  text-align: justify;
}
.containerDiferenciais__box__card .cardText div {
  width: 100%;
  font-size: 4.6296296296vh;
  font-family: "Lato";
  color: #b18f69;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 10px;
  padding: 1.8518518519vh;
}

#regiao {
  background-color: #b18f69;
}

.containerRegiao {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}
.containerRegiao__regTitle {
  padding-top: 10vh;
  font-family: "Lato";
  font-size: 8.8888888889vh;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #dde1e0;
}
.containerRegiao__regTitle::after {
  content: "a região";
  position: relative;
  top: 5.0925925926vh;
  right: 16.9270833333vw;
  font-size: 4.4444444444vh;
}
.containerRegiao__regContent {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
}
.containerRegiao__regContent__img {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 73.7037037037vh;
}
.containerRegiao__regContent__img img {
  max-width: 100%;
}
.containerRegiao__regContent__text {
  width: 50%;
  padding-left: 4.1666666667vw;
  font-family: "Lato";
  font-size: 1.8518518519vh;
  text-align: justify;
  color: #dde1e0;
  line-height: 2.962962963vh;
}

footer {
  height: 60vh;
  background-color: #abd1d1;
  border-top: 100px solid white;
}

.footerContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footerContainer__col1 {
  display: flex;
  width: 25%;
  flex-wrap: wrap;
  align-items: center;
}
.footerContainer__col1 .row1 {
  height: 160px;
  width: 175px;
}
.footerContainer__col1 .row1 img {
  max-width: 100%;
  max-height: 100%;
}
.footerContainer__col1 .row2 {
  display: block;
  height: 80%;
}
.footerContainer__col2 {
  width: 25%;
  text-transform: uppercase;
  color: white;
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 81px;
}
.footerContainer__col2 ul {
  width: 80%;
  margin: auto;
}
.footerContainer__col2 ul li {
  padding-top: 20px;
}
.footerContainer__col2 ul li a:hover {
  color: #98764f;
}
.footerContainer__col3 {
  width: 35%;
  text-transform: uppercase;
  color: white;
  font-family: "Lato";
  font-size: 1.4814814815vh;
  letter-spacing: 3px;
}
.footerContainer__col3 form {
  width: 100%;
}
.footerContainer__col3 ul h4 {
  margin-bottom: 1.8518518519vh;
}
.footerContainer__col4 {
  display: flex;
  width: 15%;
  height: 37.037037037vh;
  margin: 0 auto;
  align-items: center;
  justify-content: end;
}
.footerContainer__col4 ul li a i:hover {
  color: #98764f;
  cursor: pointer;
}

.footerText {
  padding-top: 20px;
  text-transform: uppercase;
  color: white;
  font-family: "Lato";
  font-size: 1.4814814815vh;
  letter-spacing: 3px;
}

.footerText--title {
  font-weight: 400;
  font-size: 1.5rem;
}

h4 {
  padding-bottom: 0.9259259259vh;
}

.fa {
  font-size: 3rem;
}

.footerInput {
  outline: none;
  border: none;
  display: block;
  margin-top: 10px;
  border-radius: 50px;
  width: 100%;
  padding: 15px;
}

.footerBtn {
  border: none;
  width: 8rem;
  outline: none;
  margin-top: 10px;
  padding: 15px;
  border-radius: 50px;
  font-family: "Lato";
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #5ca1b0;
  color: #dde1e0;
}
.footerBtn:hover {
  background-color: #478592;
  cursor: pointer;
}

.direitos {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5ca1b0;
}

@media screen and (max-width: 414px) and (orientation: portrait) {
  /*Navbar*/
  .navContainer__left {
    display: none;
  }
  .navContainer__right {
    display: none;
  }
  .navContainer__center {
    display: none;
  }
  .toggle {
    display: flex;
    font-size: 30px;
    color: white;
    text-align: end;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .toggle img {
    max-width: 25%;
    max-height: 25%;
  }
  /*Header*/
  .headerContainer__R {
    font-size: 41.6666666667vh;
  }
  .headerContainer__C {
    font-size: 41.6666666667vh;
    bottom: calc(50% - 38.8888888889vh);
    left: 17.5120772947vw;
  }
  .headerContainer__line1 {
    display: none;
  }
  .headerContainer__line2 {
    display: none;
  }
  /*section sobre*/
  .containerSobre {
    flex-direction: column-reverse;
    height: auto;
  }
  .containerSobre__right {
    width: 100%;
    height: 50%;
  }
  .containerSobre__right__title {
    width: 100%;
  }
  .containerSobre__right__title span {
    font-size: 60px;
  }
  .containerSobre__right__text {
    padding: 0;
  }
  .containerSobre__left {
    width: 100%;
    height: 60vh;
    z-index: 0;
  }
  /*section diferenciais*/
  #diferenciais {
    height: auto;
  }
  .containerDiferenciais {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .containerDiferenciais__box {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    border-bottom: none;
  }
  .containerDiferenciais__box__card {
    width: 100%;
    height: auto;
    padding-top: 6%;
  }
  .containerDiferenciais__box__card .cardText div {
    font-size: 2.1881838074vh;
  }
  .containerDiferenciais__title, .containerRegiao__regTitle {
    font-size: 2.6258205689vh;
    margin-top: 10%;
  }
  /*section Conheça a Região*/
  .containerRegiao {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .containerRegiao__regTitle::after {
    font-size: 1.6411378556vh;
    letter-spacing: normal;
    top: 1.9693654267vh;
  }
  .containerRegiao__regContent {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-top: 10%;
  }
  .containerRegiao__regContent__img {
    width: 100%;
    padding-top: 5%;
  }
  .containerRegiao__regContent__img img {
    width: 100%;
  }
  .containerRegiao__regContent__text {
    width: 100%;
    padding: 0;
  }
  /*footer*/
  footer {
    height: auto;
  }
  .footerContainer {
    height: auto;
    flex-wrap: wrap;
  }
  .footerContainer__col1 {
    width: 100%;
  }
  .footerContainer__col1 .row1 {
    margin: auto;
  }
  .footerContainer__col2 {
    width: 100%;
    margin: 10% 0;
  }
  .footerContainer__col2 ul {
    width: 100%;
  }
  .footerContainer__col2 ul h4 {
    text-align: center;
  }
  .footerContainer__col3 {
    width: 100%;
  }
  .footerContainer__col3 ul h4 {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .footerContainer__col4 {
    width: 100%;
    height: 100px;
  }
  .footerContainer__col4 ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .footerContainer__col4 ul li {
    padding: 0;
  }
  .direitos {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
