@use 'variaveis' as v;
@use 'extends';

/*Navbar*/
.navBg {
    background: {
        color: v.$verdeMar;
    }
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navContainer {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    &__left {
        width: 42.5%;
        ul {
            display: flex;
            justify-content: space-around;
            a {
                @extend %navLiProp;
                &:hover {
                    color: darken(v.$bege, 10);
                }
            }
        }
    }
    &__right {
        width: 42.5%;
        ul {
            display: flex;
            justify-content: space-around;
            a {
                @extend %navLiProp;
                &:hover {
                    color: darken(v.$bege, 10);
                }
            }
        }
    }
    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(12% - 10vh / 10.8);
        height: calc(100% - 10vh / 10.8);
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.toggle {
    display: none;
}
