@use 'variaveis' as v;
@use 'mixins' as mx;

#sobreHotel {
    background-color: v.$begeExtraClaro;
}
.containerSobre {
    @include mx.container;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 10%;

    &__left {
        width: 42%;
        height: calc(100% + 4.63vh);
        z-index: 10;
        background: {
            image: url('../images/pool.jpg');
            size: cover;
        }
    }
    &__right {
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        width: 60%;
        height: 40%;

        &__title {
            color: v.$bege;
            width: 100%;
            font: {
                size: 4.44vh;
                family: v.$lato;
            }
            text : {
                transform: uppercase;
                align: end;
            }
            span {
                color: v.$bege;
                font: {
                    size: 9.26vh;
                    family: v.$lato;
                }
                text: {
                    transform: uppercase;
                    align: end;
                }
                letter-spacing: 2%;
                float: right;
                width: 100%;
            }
        }
        &__text {
            width: 100%;
            text-align: justify;
            color: v.$bege;
            padding-left: 15%;
            font-size: 1.78vh;
            margin-top: 6%;
            line-height: 2.22vh;

            p {
                padding-bottom: 10px;
            }

            p::first-letter {
                font-size: 1.8rem;
            }
        }
    }
}
