@use 'variaveis' as v;
@use 'mixins' as mx;

.containerDiferenciais {
    @include mx.container;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;

    &__title {
        text: {
            transform: uppercase;
            align: center;
        }
        font: {
            size: calc(80vh / 10.8);
            family: v.$lato;
        }
        color: v.$bege;
        letter-spacing: 15px;
        padding-bottom: calc(20vh / 10.8);
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid v.$begeClaro;
        border-bottom: 1px solid v.$begeClaro;
        padding: calc(50vh / 10.8) 0;

        &__card {
            width: 30%;

            .cardImg {
                display: flex;
                justify-content: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 50%;
                }
            }

            .cardText {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                font: {
                    family: v.$lato;
                    size: calc(20vh / 10.8);
                }
                color: v.$begeClaro;
                letter-spacing: 2px;
                text-align: justify;
                div {
                    width: 100%;
                    font: {
                        size: calc(64vh / 10.8);
                        family: v.$lato;
                    }
                    color: v.$bege;

                    text: {
                        transform: capitalize;
                        align: center;
                    }
                    letter-spacing: 10px;
                    padding: calc(20vh / 10.8);
                }
            }
        }
    }
}
