@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/*Cores*/
$verdeMar: #5ca1b0;
$verdeMarClaro: #abd1d1;
$bege: #b18f69;
$begeClaro: #d8caaf;
$begeExtraClaro: #eae6e0;
$branco: #dde1e0;

/*fontes*/
$lato: 'Lato';
